/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/* sets font style and max width and margin for the entire page */

html {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

body {
    line-height: normal;
    margin: auto;
}

.nav_bar {
    background-color: #222;
    padding: 15px;
}

/* floats stars image to the top left of the page */

nav img {
    float: left;
    margin: 0;
    position: absolute;
}

.nav_bar .black_overlay {
    background-color: #222;
    color: #c78c06;
}

/* removes base decoration from all buttons in the nav, aligns them in a stack and centered */

nav button {
    all: inherit;
    display: block;
    padding-right: 50%;
    padding-left: 50%;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

/* changes the background and colour of the home button */

.nav_button:nth-child(2) {
    width: 100%;
    background-color: #c78c06;
    color: #222;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 50%;
    padding-right: 50%;
}

header .black_back {
    background-color: #222;
    width: 100%;
}

form {
    display: inline-flex;
    width: 100%;
    height: 40px;
}

/* makes search bar take up 95% the of form section */
input {
    width: 95%;
}

/* fill the remaining 5% of the form section with the search button, and adds a border */

form .search_button {
    width: 5%;
    padding: 10px;
    border: 1px solid #c78c06;
}


header .fa-solid {
    background-color: #222;
    color: #c78c06;
    width: 20px;
    height: 20px;
}

/* Style the welcome section, adds background image */

.welcome {
    color: white;
    background-size: 100% 100%;
    width: fit-content;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("../images/main-banner.jpg");
    padding-bottom: 300px;
}

.welcome h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    /* margin-bottom: 30px; */
}

.welcome p {
    line-height: normal;
    margin-bottom: 20px;
}

/* adds black opaque background to the welcome section */

.welcome .color-overlay {
    float: left;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* styles button in the welcome section */

.welcome button {
    width: 250px;
    padding: 30px;
    background: #c78c06;
    color: #222;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
    margin-left: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

/* styles about us section */

.about_us {
    background-color: #ffe6ac;
    align-items: center;
    background-size: cover;
    line-height: normal;
    padding: 15px;
    padding-bottom: 40px;
    margin-bottom: 70px;
}

.about_us img {

    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 300px;
    width: 100%;
}

.about_us h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 20px;
}

/* styles services section  */

.services {
    padding: 20px;
}

.services h2,
p {
    padding-left: 20px;
}

.services img {
    width: 100%;
}

/* adds background colours and magins to each service section */

.services .img:nth-child(1) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px;
}

.services .img:nth-child(2) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px
}

.services .img:nth-child(3) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px
}

.services .img:nth-child(4) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px
}

.services .img:nth-child(5) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px
}

.services .img:nth-child(6) {
    background-color: #ffe6ac;
    line-height: normal;
    margin-bottom: 10px
}

/* styles all the buttons used in the services section  */

.services .button {
    width: 20%;
    background: #222;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    width: auto;
    padding: 30px;
    margin: 20px;

}

/* styles our vision section,adds background image */

.our_vision {
    color: white;
    align-items: center;
    background-size: cover;
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    margin: 10px;
}

/* stypes the button inside the our vision class */

.our_vision .button {
    width: 20%;
    background: #222;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    width: auto;
    padding: 30px;
    margin: 20px;
}

.our_vision h2 {
    padding-left: 20px;
    padding-top: 20px;
}

/* styles our team section */

.our_team img {
    width: 100%;
    height: 100%;
}


.our_team {
    margin-left: 20px;
}

.our_team h1 {
    margin-top: 50px;
}

.our_team h2 {
    padding-top: 20px;
}

.our_team h2,
h3,
p {
    padding-left: 20px;
    line-height: normal;

}

.our_team h3 {
    font-weight: 800;
    font-size: 1rem;
}

.our_team p {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* adds yellow line under their job title */
hr {
    margin: 20px;
    border: 1px solid #c78c06;
}

/* adds background colours */

.our_team .img:nth-child(2) {
    background-color: #ffe6ac;
}

.our_team .img:nth-child(4) {
    background-color: #ffe6ac;
}

/* lays out our contact sheet */

.contact {
    margin-left: 20px;
}

.contact h3 {
    margin-left: -10px;
    margin-bottom: 10px;
}

.contact h2,
h3 {
    font-size: 2rem;
    font-weight: 700;
}

.contact label {
    margin-left: 10px;
    font-weight: 500;

}

/* styles the button in our contact class */

.contact .button {
    font-size: 20px;
    background-color: #222;
    color: #c78c06;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact caption {
    font-size: 2rem;
    font-weight: 700;
}

/* lays out hours of operation table */

.contact thead {
    background-color: #ffe6ac;
    padding: 200px;
}

table {
    width: 100%;
}


table caption {
    text-align: left;
    margin-bottom: 10px;
}

table th,
td {

    border-collapse: collapse;
    border: 1px solid;
    padding: 20px;
    font-weight: 600;
}

table td {
    width: 30%;
}

.contact .map {

    margin: 10px;
}

.contact iframe {
    border: 0;
    width: 600px;
    height: 450px
}

/* adds footer with copyright info */

footer {
    background-color: black;
    color: #c78c06;
    padding: 30px;
    line-height: 50px
}

/* sets layout to change if the page reaches a min of 760px */

@media screen and (min-width: 760px) {

    /* alters nav bar from vertical to horrizontal */

    .nav_bar nav {
        background-color: #222;
        margin-top: 30px;
        margin-left: 50px;
    }

    /* aligns buttons vertically and adds a gap  */

    .nav_bar nav,
    form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }

    /* displays stars image on the left of the screen */

    nav img {
        position: relative;
        margin: 0;
        padding: 0;
    }

    /* styles all buttons in the nav */
    .nav_bar button {
        text-decoration: none;
        color: #c78c06;
        padding-left: 0;
        padding-right: 0;
    }

    /* changes background and colour of the home button */
    .nav_button:nth-child(2) {
        background-color: #c78c06;
        color: #222;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* sizes search bar */
    input {
        width: 200px;
        margin: 10px;
        height: 40px;
    }

    nav .fa-solid {
        background-color: #222;
        color: #c78c06;
        position: absolute;
    }

    form {
        display: inline-flex;
        width: 100%;
        height: 40px;
        margin: 0;
    }

    form .search_button {
        padding: 20px;
        margin: 0;
        margin-left: -40px;
    }

    /* adds padding and margins to the black background in the welcome class */

    .welcome .color-overlay {
        float: left;
        background-color: rgba(0, 0, 0, .6);
        padding: 20px;
        margin: 80px;
    }


    .welcome p {
        line-height: normal;
        margin-bottom: 30px;
    }


    .about_us img {
        float: left;
        width: 60%;
        height: auto;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 100px;
    }


    .about_us {
        padding-right: 100px;
    }

    /* moves "our sevices" heading right */

    h1:nth-child(4) {
        margin-left: 70px;
    }

    /* creates grid for the services class to be laid out*/

    .services {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(8, 2fr);
        grid-template-rows: repeat(2, 2fr);
        margin-left: 50px;
    }

    /* adds background colour and placement on the grid */

    .services .img:nth-child(1) {

        background-color: #ffe6ac;
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 5px;
    }

    .services .img:nth-child(2) {

        background-color: #ffe6ac;
        grid-column-start: 4;
        grid-column-end: 7;
        margin: 5px;
    }

    .services .img:nth-child(3) {

        background-color: #ffe6ac;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        margin: 5px;
    }

    .services .img:nth-child(4) {

        background-color: #ffe6ac;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        margin: 5px;
    }

    .services .img:nth-child(5) {

        background-color: #ffe6ac;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        margin: 5px;
    }

    .our_vision {
        padding-left: 100px;
    }


    /* creates grid for the our team class to be laid out*/

    .our_team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    /* adds background colours and placement on the grid */

    .our_team .img:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 1;

    }

    .our_team .img:nth-child(2) {
        background-color: #ffe6ac;
        grid-column-start: 2;
        grid-column-end: 2;

    }

    .our_team .img:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 2;

    }

    .our_team .img:nth-child(4) {

        background-color: #ffe6ac;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
    }

    /* creates grid for the contact class to be laid out*/

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;

    }

    /* determines placement on the grid */

    .contact .send {
        margin-top: 20px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .send input {
        width: 95%;
    }

    .contact .hours {

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        margin-bottom: 30px;
    }

    .contact .map {

        grid-column-start: 2;
        grid-column-end: 2;
        margin: 10px;

    }

    /* sets size for the map */

    .contact iframe {
        border: 0;
        width: 600px;
        height: 450px
    }


    .contact h3 {
        margin-left: -10px;
        margin-bottom: 10px;
    }

    .contact h2,
    h3 {
        font-size: 2rem;
        font-weight: 700;
    }

    .contact label {
        margin-left: 10px;
        font-weight: 500;

    }

    /* styles contact sheet button */

    .contact .button {
        font-size: 20px;
        background-color: #222;
        color: #c78c06;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    /* styles hours of operation form */

    .contact caption {
        font-size: 2rem;
        font-weight: 700;
    }

    .contact thead {
        background-color: #ffe6ac;
        padding: 200px;
    }

    table {
        width: 100%;
    }


    table caption {
        text-align: left;
        margin-bottom: 10px;
    }

    table th,
    td {

        border-collapse: collapse;
        border: 1px solid;
        padding: 20px;
        font-weight: 600;
    }

    table td {
        width: 30%;
    }

}